.breadcrumbs {
    display: block;
    @include media-breakpoint-up(lg) {
        float: left;
    }
    li {
        padding: rem(16) 0;
        margin-bottom: rem(4);
        margin-right: rem(10);
        a {
            color: $fonts-light;
        }
        i {
            @extend .fa;
            @extend .fa-angle-right;
            margin-left: rem(10);
            font-size: rem(18);
        }
        &:last-child {
            border-top: 4px solid $sky-blue;
            a {
                color: $dark-blue;
                font-weight: bold;
            }
            i {
                @extend .hidden;
            }
        }
    }
    &.options {
        // This so the additional link can be re-used easily instead of binding it to the store header only. In case in the future designs theres another page with the additional "options" link inside the breadcrumb nav, that is not a page link.
        li {
            &.last {
                border-top: 4px solid $sky-blue;
                a {
                    color: $dark-blue;
                    font-weight: bold;
                }
                i {
                    @extend .hidden;
                }
            }
            &:last-child {
                border-top: none;
                a {
                    color: $fonts-light;
                    font-weight: 400;
                }
                i {
                    @extend .fa;
                    @extend .fa-circle;
                    @extend .red;
                    @extend .xs;
                    margin-left: rem(0);
                    font-size: rem(8);
                    display: inline-block!important;
                    opacity: 1;
                    &.ng-hide {
                        opacity: 0;
                    }
                }
            }
        }
    }
}