.editable-text{
    button{
        opacity: 0;
        z-index: -1000;
        @include transition(.2s all);
    }
    &:hover{
        button{
            opacity: 1;
            z-index: 0;
        }
    }
}