table {
    overflow-x: auto;
    width: 100%;
    border-bottom: none;
    // Global styles ( big/small paddings, border colors, hovers,  etc )
    // table data or headers
    th,
    td {
        padding: rem(16) rem(20);
        text-align: left;
        &.large {
            width: 50%;
            /*@include media-breakpoint-up(lg){
                max-width: rem(300);
                width: rem(300);
            }*/
        }
        &.small {
            width: 25%;
        }
        &.smaller {
            width: rem(100);
            max-width: rem(100);
            /*@include media-breakpoint-up(lg){
                max-width: rem(100);
                width: rem(100);
            }*/
        }
        &.xs {
            max-width: rem(50);
            width: rem(50);
        }
        &.margin-right {
            padding-right: 0!important;
            padding-left: 0!important;
        }
    }
    // table rows (border, hovers
    tr {
        border-bottom: 1px solid #f0f0fa;
        &:hover {
            background-color: #e9f5ff;
        }
        &.disabled {
            background-color: $light-gray;
            td {
                &.form-name {
                    color: $mid-gray;
                }
                &:nth-child(3n),
                &:last-child {
                    opacity: 0!important;
                }
            }
        }
        &.align-top {
            vertical-align: top;
            >td {
                vertical-align: top!important;
            }
        }
        &.editable-row {
            &.edit-active {
                background-color: $background-color;
            }
            >td>div {
                @include transition(transform .2s);
                transform: scaleY(1);
                &.ng-hide {
                    transform: scaleY(0);
                }
            }
        }
    }
    // TH and TD specific overrides
    th {
        font-weight: 700;
        color: $dark-gray;
        a {
            cursor: pointer;
            color: $dark-gray;
            font-weight: 700;
        }
    }
    td {
        &.blue,
        &.blue a {
            color: $royal-blue;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        &.gray,
        &.gray a {
            color: $mid-gray;
        }
    }
    // Table footer borderless and removed hover on row due to content nature
    tfoot {
        tr {
            border: none;
            &:hover {
                background-color: inherit;
            }
        }
    }
    // General bootstrap 3 styles for tables as starting point
    &.table {
        margin-bottom: 0;
        &>thead,
        &>tbody {
            >tr {
                >th,
                >td {
                    padding: rem(10) rem(20);
                    vertical-align: middle;
                    border-bottom: 1px solid #f0f0fa;
                    border-top: none;
                }
            }
        }
        &>tfoot {
            >tr {
                >td {
                    padding: rem(40) rem(20) rem(20);
                    border-bottom: none;
                }
            }
        }
    }
    // Max height set, content is scrollable past that point
    &.content-scrollable {
        table-layout: fixed;
        border-collapse: collapse;
        thead {
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        }
        tbody {
            max-height: rem(400);
            display: block;
            overflow: auto;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        }
    }
    // table data columns have additional border right to make internal square separators
    &.bordered-cols {
        td,
        th {
            border-right: 1px solid $light-gray;
        }
    }
    // Column Rows will change background color on hover
    &.non-hovered-row,
    .no-hover-effect {
        &:hover {
            background-color: inherit;
        }
        tr {
            background-color: #fff;
        }
        &.transparent {
            tr {
                background-color: inherit;
            }
        }
    }
    // PDF Summary Table
    &.info-table {
        max-width: 92%;
        margin: 0 auto;
        tr {
            border-bottom: 2px solid #f0f0fa;
        }
    }
    .checkboxes-selected {
        label {
            color: $mid-gray;
            font-size: rem(12);
            margin-right: rem(20);
        }
        .dropdown {
            span {
                margin-left: rem(8)
            }
            .dropdown-menu {
                background: #fff;
                >li {
                    >a {
                        padding: rem(8) rem(25);
                        &:hover {
                            background-color: #e9f5ff;
                            color: $royal-blue;
                        }
                    }
                }
            }
            &.open {
                .dropdown-toggle {
                    box-shadow: none;
                }
            }
        }
    }
    &.inner-table {
        tr {
            border: none;
            td {
                padding: rem(10) 0;
                position: relative;
            }
        }
    }
}