.tooltip-container{
    > a{
        border-bottom: 1px dashed #677381;
    }
    
}
.tooltip{
    &.bottom{
        margin-top: 12px;
        .tooltip-arrow{
            border-bottom-color: #fff;
            top: -5px;
            left: 50%;
            margin-left: -10px;
            border-width: 0px 10px 10px;
            z-index: 2;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: translateX(-50%);
                z-index: 1;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fff;
            }
            &:after{
                content: "";
                position: absolute;
                top: -4px;
                left: 0;
                transform: translateX(-50%);
                z-index: 0;
                width: 0;
                height: 0;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                border-bottom: 12px solid rgba(163, 163, 163, .6);
            }
        }

        .tooltip-inner{
            background-color: $card-bg;
            box-shadow: 0px 0px 5px 1px rgba(71,71,71,1);
            min-width: rem(140);
            padding: rem(12);
            li{
                color: $dark-gray;
                display: block;
                margin-bottom: rem(6);
                &:last-child{
                    margin-bottom: 0;
                }
                strong{
                    display: inline-block;
                    margin-right: rem(6);
                }
            }
        }
    }
}