header {
    width: 100%;
    border-bottom: 1px solid $light-gray;
    padding: rem(2) rem(20);
    position: relative;
    .breadcrumb-nav {
        @include media-breakpoint-up(lg) {
            float: left;
        }
    }
    .alert {
        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    .btn-group {
        @include media-breakpoint-up(lg) {
            float: right;
            margin-top: rem(13);
        }
    }
}